/* You can add global styles to this file, and also import other style files */
.MuiCard-root.same-height {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
